.myNav{
	background-color: black;
	color: white;
	display: block;

}

img{
	width: 100%;
}

body{
	background-color:orange;
}

.Colors{
	color: purple;
	font-size: 28px;
}
.myLink {
	position:absolute;
    bottom:5px;
    
}

.enlink:hover{
	background-color: purple;
}
.enlink{
	background-color: grey;
}
